<app-navbar></app-navbar>
<div class="jumbotron text-center">
  <h1 class="display-4">About Us</h1>
  <p class="lead">This is about us page</p>
</div>

<div class="container">
  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum possimus,
      velit exercitationem similique architecto eum, asperiores ipsum ullam
      nobis excepturi consequatur facilis amet quia? Eius porro minus eum vitae
      optio. Cupiditate aut dignissimos repellendus quam similique pariatur ea
      eum in incidunt veritatis recusandae accusantium quas neque libero,
      exercitationem totam doloremque. Maiores, aliquid quis? Illum, natus
      temporibus reiciendis nobis dolore ducimus. Officiis repellat ducimus quia
      exercitationem repellendus magni cumque hic omnis praesentium, mollitia
      voluptas quos nobis vero consequuntur impedit totam quam inventore
      quisquam dolores dolorem fugiat! Quibusdam excepturi architecto aliquam
      mollitia aspernatur blanditiis ut temporibus fugit accusantium libero,
      inventore, eveniet sunt.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
      tempora officia! Minima atque ipsa mollitia dolor enim reiciendis quidem
      incidunt eius ipsum quae excepturi, ut unde recusandae odit fugiat,
      sapiente reprehenderit ex aut sunt cum, magni totam libero vero est? Error
      corporis consequuntur numquam in reprehenderit, facilis vitae sapiente
      deserunt temporibus sit beatae molestias nemo. Sed id ipsa eius maxime.
      Culpa at fugit ipsum et? Unde vero soluta laboriosam adipisci consequuntur
      quis maxime incidunt eligendi illo! Deserunt, cupiditate doloremque
      facilis reiciendis commodi pariatur voluptates sit nobis, impedit nostrum
      nulla! Ipsa excepturi adipisci minus velit laborum pariatur, suscipit
      distinctio harum optio?
    </p>
  </section>
</div>
